* {
    margin: 0px;
    padding: 0px;
    direction: rtl !important;
    font-family: 'Tajawal', sans-serif !important;

}

.pos-tag-top {
    min-width: 60px;
    position: absolute;
    right: 90%;
    top: 12px;
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 127.273px;
    background: var(--main-red, #F00);
    box-shadow: 0px 5.090909004211426px 30.545454025268555px 0px rgba(24, 39, 75, 0.12);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.info-right-product a {
    margin: 0px 15px;
    border-left: 1px solid #E1E1E1 !important;
    border-right: none;
    padding: 0px 15px;
    color: #211E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.arrow-action-product span {
    transform: rotate(180deg);
}

#progressbarAll li:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    right: -50% !important;
    top: 20px;
    z-index: -1;
    border: 1px dashed #828282;

}

.form-partner .content-form-parnter {
    text-align: right !important;
}

.all-input-failds-partner {
    text-align: right;
}

.all-input-failds-partner select {
    text-align: left !important;
}

.box-upload-image-company label {
    text-align: right !important;
    width: 100% !important;
}

#msform .action-button {
    min-width: 100px;
    height: 45px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;

    margin: 10px 5px;
    text-align: center !important;
    padding: 0px 25px 0px 25px;
    border-radius: 8px;
    background: rgba(229, 0, 0, 1);
    color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    right: 85%;

}

.swiper-button-next span {
    transform: rotate(180deg);
}

.swiper-button-prev span {
    transform: rotate(180deg);
}

.image-cover-header .man-cover {
    /* position: absolute; */
    /* right: -130px !important; */
    /* bottom: 0px; */
    /* height: 650px; */
}

.img-download-2{
    position: relative;
    right: -124px;
    top: 54px;
    z-index: 1;
}

.content-cover h2 , .advantages h3 , .content-download-image h3,.title-massage h4 , .content-massage h4 {


    font-family: 'Tajawal', sans-serif !important;
}